{% extends 'forum/base.html' %}

{% block content %}

<hr/>
<h3>Hello,
    {% if user.is_authenticated %}
        {{ user.username }}
    {% endif %}
    welcome on the forum</h3>

{% if 'CREATE_BRANCH' in permissions %}
<a href="{% url 'forum:create_branch' %}" class="btn btn-dark">Create new branch </a>
{% endif %}

{% for br in branches %}
<div class="branch">
<h3>{{ br.name }}</h3>
    {% if 'CREATE_CATEGORY' in permissions %}
    <br/>
    <a href="{% url 'forum:create_category' branch_slug=br.slug %}" class="btn btn-dark">Create new category </a>
    {% endif %}

    {% for cat in br.categories.all %}
    <div class="category">
        <p>
        <a href="{% url 'forum:category' branch_slug=br.slug category_slug=cat.slug %}">{{cat.name}}</a>
        <small>(threads: {{ cat.get_total_threads }} posts: {{ cat.get_total_posts }})  </small>
        </p>
    </div>
    {% endfor %}
</div>
{% endfor %}

{% endblock content %}