{% extends 'forum/base.html' %}

{% block content %}

<hr/>
<h3>Hello,
    {% if user.is_authenticated %}
        {{ user.username }}
    {% endif %}
    welcome on the forum</h3>

{% if 'CREATE_BRANCH' in permissions %}
<a href="{% url 'forum:create_branch' %}" class="btn btn-dark">Create new branch </a>
{% endif %}

{% for branch in branches %}
<div class="branch">
<h3>{{ branch.name }}</h3>
    {% if 'CREATE_CATEGORY' in permissions %}
    <a href="{% url 'forum:create_category' %}" class="btn btn-dark">Create new category </a>
    {% endif %}

    {% for cat in branch.categories.all %}
    <div class="category">
        <p> {{cat.name}} </p>
    </div>
    {% endfor %}
</div>
{% endfor %}

{% endblock content %}